{% extends 'base.html' %}

{% block content %}


    <h1 class="title is-1">Update Password</h1>
    <hr>
    <div class="container is-fluid">
        <div class="notification is-dark">
            <div class="container is-widescreen">
                <div class="notification is-warning">
                    <div class="field">
                        <ul>
                            <li>
                                Your password can’t be too similar to your other personal information.
                            </li>
                            <li>
                                Your password must contain at least 8 characters.
                            </li>
                            <li>
                                Your password can’t be a commonly used password.
                            </li>
                            <li>
                                Your password can’t be entirely numeric.
                            </li>
                        </ul><br>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br><br><button class="button is-link is-rounded is-outlined">Update Password</button>
                        </form><br>
                    </div>
                </div>
            </div>          
        </div>
    </div>


{% endblock %}
