{% extends 'base.html' %}

{% block content %}

<h1>Post Details</h1>
<br>
<h1>{{ post.title }}</h1>

<small>
    By: 
    {{ post.author.first_name }} 
    {{ post.author.last_name }} - 
    {{ post.post_date }}
    {{ post.post_time}}
</small><br>
<hr>
<br/>
{{ post.body|safe }}

<br/><br>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <small><a href="{% url 'update_post' post.pk %}">Edit Post</a></small><br>
        <small><a href="{% url 'delete_post' post.pk %}">Delete Post</a></small><br>
    {% endif %}
{% endif %}
<a href="{% url 'home' %}">Go Back</a>

{% endblock %}