{% extends 'base.html' %}
{% load static %}
 
{% block content %}

    <h1>Post Details</h1>
    <br>
    <h1>{{ post.title }}</h1>

    <small>
        By: 
        {{ post.author.first_name }} 
        {{ post.author.last_name }} - 
        {{ post.post_date }}
        {{ post.post_time}}
    </small><br>
    <hr>
    <br/>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" alt="">
    {% endif %}    
    <br>
    {{ post.body|safe }}

    <br/><br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href="{% url 'update_post' post.pk %}">Edit Post</a></small><br>
            <small><a href="{% url 'delete_post' post.pk %}">Delete Post</a></small><br>
        {% endif %}
    {% endif %}
    <a href="{% url 'home' %}">Go Back</a>

    <br><br>
    <hr>
    <br>
    <form action="{% url 'like_post' post.pk %}"
    method="POST">
        {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="">Unlike 👎 </button>
        {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="">Like 👍 </button>
        {% endif %}
    {% else %}
        <small>
            <a class="button is-success is-outlined is-rounded" href="{% url 'login' %}">
                Login to like!
              </a>
        </small>
    {% endif %}
            - {{ total_likes }} Likes
    </form><br><br>

    <hr>
    <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
                {% if post.author.profile.profile_pic %}
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ post.author.profile.profile_pic.url }}" alt="Placeholder image">
                    </figure>
                {% else %}
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'theblog/images/Profile-PNG-Icon.png' %}" alt="Placeholder image">
                    </figure>
                {% endif %}
            </div>
            <div class="media-content">
              <p class="title is-4">{{ post.author.first_name }} {{ post.author.last_name }}</p>
              <p class="subtitle is-6">{{ post.author.email }}</p>
                <small>
                    {% if post.author.profile.website_url %}
                        | <a href="{{ post.author.profile.website_url }}">website</a>
                    {% endif %}
    
                    {% if post.author.profile.facebook_url %}
                        | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
                    {% endif %}
    
                    {% if post.author.profile.twitter_url %}
                        | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
                    {% endif %}
    
                    {% if post.author.profile.linkedin_url %}
                        | <a href="{{ post.author.profile.linkedin_url }}">Linkedin</a>
                    {% endif %}
                </small>
            </div>
          </div>
      
          <div class="content">
            Bio: {{ post.author.profile.bio }}
            <br>
            <time datetime="">Date Joined: {{ post.author.date_joined }}</time>
          </div>
        </div>
      </div>

{% endblock %}