<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Newpost</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <figure class="image is-96x96">
          <a href="{% url 'home' %}">
            <img class="is-rounded" src="https://sculptedbyreality.files.wordpress.com/2019/02/new-post.gif">
          </a>
        </figure>
        {% if user.is_authenticated %}
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">

            <a class="navbar-item" href="{% url 'home' %}">
              <strong>Home</strong>
            </a>
      
            <a class="navbar-item" href="{% url 'add_post' %}">
              <strong>Add Post</strong>
            </a>

            <!-- <a class="navbar-item" href="{% url 'add_category' %}">
              Add Category
            </a> -->
            
            <a class="navbar-item" href="{% url 'category-list' %}">
              <strong>Category List</strong>
            </a>
            
            
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                </a>
                <div class="navbar-dropdown is-right">
                  {% if user.profile.id %}
                  <a class="navbar-item" href="{% url 'edit_profile_page' user.profile.id %}">
                    Update Profile Page
                  </a>
                  <a class="navbar-item" href="{% url 'show_profile_page' user.profile.id %}">
                    Profile Page
                  </a>
                  {% else %}
                  <a class="navbar-item" href="{% url 'create_profile_page' %}">
                    Create Profile Page
                  </a>  
                  {% endif %}
                  <a class="navbar-item" href="{% url 'edit_profile' %}">
                    Edit Settings
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href="{% url 'logout' %}">
                    <strong>Logout</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {% else %}
          
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              
              <a class="button is-info is-outlined is-rounded" href="{% url 'register' %}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-success is-outlined is-rounded" href="{% url 'login' %}">
                <strong>Login</strong>
              </a>
              
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

  <section class="section">
    <div class="container">
      <br/>
      <div class="container">
          {% block content %}
      
          {% endblock %}
      </div>
    </div>
  </section>
  </body>
</html>
