{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Delete Post</h1>
        <br>
        <h3>Delete: {{ post.title }}</h3>

        <br>
        <div class="field">
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong><br>
                <br><button class="button is-danger is-rounded is-outlined">Delete Post</button>
            </form>
        </div>
    {% else %}
        You're not allowed here!
    {% endif %}
{% else %}

You're not allowed here! 
Please Signup or Login!

{% endif %}

{% endblock %}